@import url(https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@400;600;700&family=Open+Sans:wght@400;600;700&display=swap);

$title-font: 'Lobster', cursive;
$primary-font: 'Montserrat', sans-serif;

$primary-color: #b4b4b4;        // Header - Footer
$secondary-color: #cfcfcf;      // Btn item
$thirth-color: #ffffff;         // Btn item hover

$text-color: #e2e2e2;           // Header text color
$text-title: #00b2d0; // #93291E;

$background-primary: #f0f0f0;
$background-secondary: #e4e4e4;